<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078414905517-8h8hbppv29uc3phb5c84vq8f0fpjnjt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078414905517-8h8hbppv29uc3phb5c84vq8f0fpjnjt0</string>
	<key>API_KEY</key>
	<string>AIzaSyAwEthsQTdU_z3XhsGS4QIZcMak-v7UXy0</string>
	<key>GCM_SENDER_ID</key>
	<string>1078414905517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiquest.godrej</string>
	<key>PROJECT_ID</key>
	<string>godrej-c4cfd</string>
	<key>STORAGE_BUCKET</key>
	<string>godrej-c4cfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078414905517:ios:a53038e7fc7f30d0327624</string>
</dict>
</plist>